h1{
  font-size:500%;
  font-family:'Pacifico', cursive;
  text-align: center;
}
#idk {
  font-size: 300%;
  text-align: center;
}

body{
  background-color: #ddccff ;
}

.pic{
  margin: 0px 0px 0px 550px;
  width: 50%;
  padding: 10px;
}
